body {
  background: #004643;
  margin: 0;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

header,
footer {
  width: 100%;
  height: auto;
  padding:30px;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: #fffffe;
  margin: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  background: #004643;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 9999;
  border-bottom: 6px dotted #f9bc60;
}

a:hover {
    color: #f9bc60;
}

.nav-link {
  text-decoration: none;
  color: #fffffe;
  font-family: 'Londrina Shadow', cursive;
  font-size: 30px;
} 

h2 {
  color: #004643;
  font-family: 'Londrina Shadow', cursive;
  font-size: 30px; 
}

.switcher {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
  border-radius: 100%;
}

.teal {
  background-color: #004643;
  border: 3px solid #f9bc60;
}

.blue {
  background-color: #232946;
  border: 3px solid #eebbc3;
}

.maroon {
  background-color: #55423d;
  border: 3px solid #ffc0ad;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:30px;
}

/* section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
} */

.card {
  background: #abd1c6;
  color: #001e1d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  max-width: 300px;
  min-height: 400px;
  /* height:auto; */
}

.card:hover {
  transform: scale(1.1);
  z-index: 999;
}

button {
  background: #e16162;
  color: #001e1d;
  font-family: Raleway, sans-serif;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  border: none;
  cursor: pointer;
}

img {
  max-width: 50%;
  height: auto;
}

.round {
  border-radius: 100%;
}

.small {
  max-width: 30%;
  height: auto;
}

footer {
  background: #e16162;
  max-width: 100vw;
  height: auto;
  margin: 0;
  color: #001e1d;
  font-family: Raleway, sans-serif;
  font-size: 14px;
}

footer p {
  float: right;
}

footer a, p a {
  display: block;
  text-decoration: none;
  color: #001e1d;
}





@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
